body {
    background-color: bisque;
}

h2 {
    border-radius: 10px;
    color: white;
    background-color: rgb(145, 145, 255);
    padding: 6px;
}

#date {
    font-weight: lighter;
    font-size: 25px;
}

#hourglassBtn,
#muteBtn,
#unmuteBtn {
    margin-top: 5px;
    font-size: 2em;
}

.tempusSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

.tempusDiv,
#chronoContainer {
    font-weight: bolder;
    font-size: 50px;
}

#countdownParams {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

label {
    font-weight: lighter;
    font-size: 20px;
}

.countdownBtn {
    display: flex;
    justify-content: space-around;
}

.tempusSectionBoxes {
    /* border: 1px solid black; */
    padding: 1.5rem;
    border-radius: 15px;
    height: 400px;
    background-color: whitesmoke;
}

#numberParam {
    border-radius: 10px;
    border: 1px solid blue;
}

.cool {
    color: green;
}

.warning {
    color: orange;
}

.danger {
    color: red;
}

.bi-stopwatch.start {
    font-size: 5em;
    color: rgb(9, 186, 246);
    cursor: pointer;
    padding: 15px;
}

.bi-stopwatch.stop {
    font-size: 5em;
    color: rgb(255, 0, 4);
    cursor: pointer;
    padding: 15px;
}

.bi-stopwatch.reset {
    font-size: 5em;
    color: rgb(246, 155, 9);
    cursor: pointer;
    padding: 15px;
}

.btnChrono {
    display: flex;
    justify-content: space-around;
}

.btnChrono i:hover {
    /* background-color: lightgray; */
    border-radius: 25px;
    box-shadow: 2px 5px 5px lightblue;
}

@media (max-width: 748px) {
    .tempusSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}