.countdownContainer {
    margin-top: 25px;
}

#goBtn,
#muteBtn,
#unmuteBtn {
    margin-top: 5px;
}

.bi-stopwatch,
.bi-volume-mute,
.bi-volume-down {
    font-size: 2em;
}

.countdownDiv {
    font-weight: bolder;
    font-size: 64px;
}

.cool {
    color: green;
}

.warning {
    color: orange;
}

.danger {
    color: red;
}

#date {
    font-weight: lighter;
    font-size: 25px;
}